Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfoInputs.cache
.vscode/launch.json
.vscode/tasks.json
Robot/bin/Debug/netstandard2.0/Robot.dll
Robot/bin/Debug/netstandard2.0/Robot.pdb
Robot/bin/Debug/netstandard2.0/Robot.deps.json
Robot/obj/Robot.csproj.nuget.cache
Robot/obj/Robot.csproj.nuget.g.props
Robot/obj/Robot.csproj.nuget.g.targets
Robot/obj/project.assets.json
Robot/obj/Debug/netstandard2.0/Robot.dll
Robot/obj/Debug/netstandard2.0/Robot.pdb
Robot/obj/Debug/netstandard2.0/Robot.AssemblyInfo.cs
Robot/obj/Debug/netstandard2.0/Robot.AssemblyInfoInputs.cache
Robot/obj/Debug/netstandard2.0/Robot.assets.cache
Robot/obj/Debug/netstandard2.0/Robot.csproj.CoreCompileInputs.cache
Robot/obj/Debug/netstandard2.0/Robot.csproj.FileListAbsolute.txt
Robot/obj/Debug/netstandard2.0/Robot.csprojAssemblyReference.cache
Robot/obj/Debug/netstandard2.0/project.razor.json
Test/bin/Debug/netcoreapp2.2/Robot.dll
Test/bin/Debug/netcoreapp2.2/Robot.pdb
Test/bin/Debug/netcoreapp2.2/Test.dll
Test/bin/Debug/netcoreapp2.2/Test.pdb
Test/bin/Debug/netcoreapp2.2/Test.deps.json
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.json
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.dev.json
Test/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Test/obj/Test.csproj.nuget.cache
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/obj/project.assets.json
Test/obj/Debug/netcoreapp2.2/Test.dll
Test/obj/Debug/netcoreapp2.2/Test.pdb
Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp2.2/Test.Program.cs
Test/obj/Debug/netcoreapp2.2/Test.assets.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.CopyComplete
Test/obj/Debug/netcoreapp2.2/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp2.2/Test.csprojAssemblyReference.cache
Test/obj/Debug/netcoreapp2.2/project.razor.json
