Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfoInputs.cache
.vscode/launch.json
.vscode/tasks.json
Robot/bin/Debug/netstandard2.0/Robot.dll
Robot/bin/Debug/netstandard2.0/Robot.pdb
Robot/bin/Debug/netstandard2.0/Robot.deps.json
Robot/obj/Robot.csproj.nuget.cache
Robot/obj/Robot.csproj.nuget.g.props
Robot/obj/Robot.csproj.nuget.g.targets
Robot/obj/project.assets.json
Robot/obj/Debug/netstandard2.0/Robot.dll
Robot/obj/Debug/netstandard2.0/Robot.pdb
Robot/obj/Debug/netstandard2.0/Robot.AssemblyInfo.cs
Robot/obj/Debug/netstandard2.0/Robot.AssemblyInfoInputs.cache
Robot/obj/Debug/netstandard2.0/Robot.assets.cache
Robot/obj/Debug/netstandard2.0/Robot.csproj.CoreCompileInputs.cache
Robot/obj/Debug/netstandard2.0/Robot.csproj.FileListAbsolute.txt
Robot/obj/Debug/netstandard2.0/Robot.csprojAssemblyReference.cache
Robot/obj/Debug/netstandard2.0/project.razor.json
Test/bin/Debug/netcoreapp2.2/Robot.dll
Test/bin/Debug/netcoreapp2.2/Robot.pdb
Test/bin/Debug/netcoreapp2.2/Test.dll
Test/bin/Debug/netcoreapp2.2/Test.pdb
Test/bin/Debug/netcoreapp2.2/Test.deps.json
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.json
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.dev.json
Test/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Test/obj/Test.csproj.nuget.cache
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/obj/project.assets.json
Test/obj/Debug/netcoreapp2.2/Test.dll
Test/obj/Debug/netcoreapp2.2/Test.pdb
Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp2.2/Test.Program.cs
Test/obj/Debug/netcoreapp2.2/Test.assets.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.CopyComplete
Test/obj/Debug/netcoreapp2.2/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp2.2/Test.csprojAssemblyReference.cache
Test/obj/Debug/netcoreapp2.2/project.razor.json
Office/obj/Debug/netstandard2.0/Office.pdb
Office/Class1.cs
Office/bin/Debug/netstandard2.0/Office.dll
Office/bin/Debug/netstandard2.0/Office.pdb
Office/bin/Debug/netstandard2.0/Office.deps.json
Office/obj/Office.csproj.nuget.cache
Office/obj/Office.csproj.nuget.g.props
Office/obj/Office.csproj.nuget.g.targets
Office/obj/project.assets.json
Office/obj/Debug/netstandard2.0/Office.dll
Office/obj/Debug/netstandard2.0/Office.AssemblyInfo.cs
Office/obj/Debug/netstandard2.0/Office.AssemblyInfoInputs.cache
Office/obj/Debug/netstandard2.0/Office.assets.cache
Office/obj/Debug/netstandard2.0/Office.csproj.CoreCompileInputs.cache
Office/obj/Debug/netstandard2.0/Office.csproj.FileListAbsolute.txt
Office/obj/Debug/netstandard2.0/Office.csprojAssemblyReference.cache
Office/obj/Debug/netstandard2.0/project.razor.json
Test/bin/Debug/netcoreapp2.2/Office.dll
Test/bin/Debug/netcoreapp2.2/Office.pdb
Robot/bin/Debug/netstandard2.0/Office.dll
Robot/obj/Debug/netstandard2.0/Robot.csproj.CopyComplete
Robot/bin/Debug/netstandard2.0/Office.pdb
Test/.vscode/launch.json
Test/.vscode/tasks.json
tools/packages.config.md5sum
Office/obj/fsac.cache
Robot/obj/fsac.cache
Test/obj/fsac.cache
tools/nuget.exe
tools/packages.config
tools/Cake/.signature.p7s
tools/Cake/Autofac.dll
tools/Cake/Cake.exe
tools/Cake/Cake.nupkg
tools/Cake/Cake.pdb
tools/Cake/Cake.xml
tools/Cake/Cake.Common.dll
tools/Cake/Cake.Common.pdb
tools/Cake/Cake.Common.xml
tools/Cake/Cake.Core.dll
tools/Cake/Cake.Core.pdb
tools/Cake/Cake.Core.xml
tools/Cake/Cake.NuGet.dll
tools/Cake/Cake.NuGet.pdb
tools/Cake/Cake.NuGet.xml
tools/Cake/Cake.exe.config
tools/Cake/LICENSE
tools/Cake/Microsoft.CodeAnalysis.dll
tools/Cake/Microsoft.CodeAnalysis.CSharp.dll
tools/Cake/Microsoft.CodeAnalysis.CSharp.Scripting.dll
tools/Cake/Microsoft.CodeAnalysis.Scripting.dll
tools/Cake/Microsoft.Web.XmlTransform.dll
tools/Cake/Microsoft.Win32.Primitives.dll
tools/Cake/Newtonsoft.Json.dll
tools/Cake/NuGet.Commands.dll
tools/Cake/NuGet.Common.dll
tools/Cake/NuGet.Configuration.dll
tools/Cake/NuGet.Credentials.dll
tools/Cake/NuGet.DependencyResolver.Core.dll
tools/Cake/NuGet.Frameworks.dll
tools/Cake/NuGet.LibraryModel.dll
tools/Cake/NuGet.PackageManagement.dll
tools/Cake/NuGet.Packaging.dll
tools/Cake/NuGet.Packaging.Core.dll
tools/Cake/NuGet.ProjectModel.dll
tools/Cake/NuGet.Protocol.dll
tools/Cake/NuGet.Resolver.dll
tools/Cake/NuGet.Versioning.dll
tools/Cake/System.AppContext.dll
tools/Cake/System.Collections.dll
tools/Cake/System.Collections.Concurrent.dll
tools/Cake/System.Collections.Immutable.dll
tools/Cake/System.Collections.NonGeneric.dll
tools/Cake/System.Collections.Specialized.dll
tools/Cake/System.ComponentModel.dll
tools/Cake/System.ComponentModel.EventBasedAsync.dll
tools/Cake/System.ComponentModel.Primitives.dll
tools/Cake/System.ComponentModel.TypeConverter.dll
tools/Cake/System.Console.dll
tools/Cake/System.Data.Common.dll
tools/Cake/System.Diagnostics.Contracts.dll
tools/Cake/System.Diagnostics.Debug.dll
tools/Cake/System.Diagnostics.FileVersionInfo.dll
tools/Cake/System.Diagnostics.Process.dll
tools/Cake/System.Diagnostics.StackTrace.dll
tools/Cake/System.Diagnostics.TextWriterTraceListener.dll
tools/Cake/System.Diagnostics.Tools.dll
tools/Cake/System.Diagnostics.TraceSource.dll
tools/Cake/System.Diagnostics.Tracing.dll
tools/Cake/System.Drawing.Primitives.dll
tools/Cake/System.Dynamic.Runtime.dll
tools/Cake/System.Globalization.dll
tools/Cake/System.Globalization.Calendars.dll
tools/Cake/System.Globalization.Extensions.dll
tools/Cake/System.IO.dll
tools/Cake/System.IO.Compression.dll
tools/Cake/System.IO.Compression.ZipFile.dll
tools/Cake/System.IO.FileSystem.dll
tools/Cake/System.IO.FileSystem.DriveInfo.dll
tools/Cake/System.IO.FileSystem.Primitives.dll
tools/Cake/System.IO.FileSystem.Watcher.dll
tools/Cake/System.IO.IsolatedStorage.dll
tools/Cake/System.IO.MemoryMappedFiles.dll
tools/Cake/System.IO.Pipes.dll
tools/Cake/System.IO.UnmanagedMemoryStream.dll
tools/Cake/System.Linq.dll
tools/Cake/System.Linq.Expressions.dll
tools/Cake/System.Linq.Parallel.dll
tools/Cake/System.Linq.Queryable.dll
tools/Cake/System.Net.Http.dll
tools/Cake/System.Net.NameResolution.dll
tools/Cake/System.Net.NetworkInformation.dll
tools/Cake/System.Net.Ping.dll
tools/Cake/System.Net.Primitives.dll
tools/Cake/System.Net.Requests.dll
tools/Cake/System.Net.Security.dll
tools/Cake/System.Net.Sockets.dll
tools/Cake/System.Net.WebHeaderCollection.dll
tools/Cake/System.Net.WebSockets.dll
tools/Cake/System.Net.WebSockets.Client.dll
tools/Cake/System.ObjectModel.dll
tools/Cake/System.Reflection.dll
tools/Cake/System.Reflection.Extensions.dll
tools/Cake/System.Reflection.Metadata.dll
tools/Cake/System.Reflection.Primitives.dll
tools/Cake/System.Resources.Reader.dll
tools/Cake/System.Resources.ResourceManager.dll
tools/Cake/System.Resources.Writer.dll
tools/Cake/System.Runtime.dll
tools/Cake/System.Runtime.CompilerServices.VisualC.dll
tools/Cake/System.Runtime.Extensions.dll
tools/Cake/System.Runtime.Handles.dll
tools/Cake/System.Runtime.InteropServices.dll
tools/Cake/System.Runtime.InteropServices.RuntimeInformation.dll
tools/Cake/System.Runtime.Numerics.dll
tools/Cake/System.Runtime.Serialization.Formatters.dll
tools/Cake/System.Runtime.Serialization.Json.dll
tools/Cake/System.Runtime.Serialization.Primitives.dll
tools/Cake/System.Runtime.Serialization.Xml.dll
tools/Cake/System.Security.Claims.dll
tools/Cake/System.Security.Cryptography.Algorithms.dll
tools/Cake/System.Security.Cryptography.Csp.dll
tools/Cake/System.Security.Cryptography.Encoding.dll
tools/Cake/System.Security.Cryptography.Primitives.dll
tools/Cake/System.Security.Cryptography.X509Certificates.dll
tools/Cake/System.Security.Principal.dll
tools/Cake/System.Security.SecureString.dll
tools/Cake/System.Text.Encoding.dll
tools/Cake/System.Text.Encoding.CodePages.dll
tools/Cake/System.Text.Encoding.Extensions.dll
tools/Cake/System.Text.RegularExpressions.dll
tools/Cake/System.Threading.dll
tools/Cake/System.Threading.Overlapped.dll
tools/Cake/System.Threading.Tasks.dll
tools/Cake/System.Threading.Tasks.Extensions.dll
tools/Cake/System.Threading.Tasks.Parallel.dll
tools/Cake/System.Threading.Thread.dll
tools/Cake/System.Threading.ThreadPool.dll
tools/Cake/System.Threading.Timer.dll
tools/Cake/System.ValueTuple.dll
tools/Cake/System.Xml.ReaderWriter.dll
tools/Cake/System.Xml.XDocument.dll
tools/Cake/System.Xml.XPath.dll
tools/Cake/System.Xml.XPath.XDocument.dll
tools/Cake/System.Xml.XmlDocument.dll
tools/Cake/System.Xml.XmlSerializer.dll
tools/Cake/netstandard.dll
Application/bin/Debug/netcoreapp2.2/Office.dll
Application/bin/Debug/netcoreapp2.2/Application.dll
Application/bin/Debug/netcoreapp2.2/Application.pdb
Application/bin/Debug/netcoreapp2.2/Application.deps.json
Application/bin/Debug/netcoreapp2.2/Application.runtimeconfig.json
Application/bin/Debug/netcoreapp2.2/Application.runtimeconfig.dev.json
Application/bin/Debug/netcoreapp2.2/Office.pdb
Application/bin/Debug/netcoreapp2.2/Robot.dll
Application/bin/Debug/netcoreapp2.2/Robot.pdb
Application/obj/Application.csproj.nuget.cache
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/fsac.cache
Application/obj/project.assets.json
Application/obj/Debug/netcoreapp2.2/Application.dll
Application/obj/Debug/netcoreapp2.2/Application.pdb
Application/obj/Debug/netcoreapp2.2/Application.AssemblyInfo.cs
Application/obj/Debug/netcoreapp2.2/Application.AssemblyInfoInputs.cache
Application/obj/Debug/netcoreapp2.2/Application.assets.cache
Application/obj/Debug/netcoreapp2.2/Application.csproj.CopyComplete
Application/obj/Debug/netcoreapp2.2/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/netcoreapp2.2/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/netcoreapp2.2/Application.csprojAssemblyReference.cache
.vscode/settings.json
.vscode/tags
